* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    display: flex;
    background-color: #FF5722;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
}

h1{
    font-size: 42px;
}

.search-IP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto 40px auto;
    text-align: center;
}

#ip-input {
    padding: 5px;
    font-size: 26px;
    height: 35px;
    width: 500px;
    border-radius: 10px;
}

button {
    margin-top: 40px;
    height: 50px;
    width: 200px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

button:hover {
    background-color: #e64a19;
}

#ipForm {
    text-align: center;
    margin-bottom: 20px;
}

#ip {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h3 {
    margin: 10px 0;
}

.invalid-ip{
    color: red;
}

.reserved-ip {
    color: green;
}

.error {
    color: red;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    font-size: 20px;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#flag {
    margin: 10px 0 10px 0;
    width: 90px;
    height: auto;
}

footer {
    display: flex;
    margin-top: 50px;
    background-color: #FF5722;
    color: white;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.developer-name {
    font-size: 14px;
}

